*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.87);
}

.app-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #242424;
}
main{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}